/*fonts{
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}*/

body{
    margin: 0;
    background-color: #E5E5E5;
}
.flexible-container{
    display: flex;
    gap: 0;
}
#hero-section{
    margin: 5% 0 0 8%;
}
.half-width{
    width: 50%;
}
#color-hero-title{
    background: -webkit-linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#hero-title{
    color: #575757;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: -2%;
    font-weight: 700;
    font-style: normal;
    margin: 40px 0 0 0;
}
#hero-subtitle{
    color: #828282;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -2%;
    font-weight: 500;
    font-style: normal;
    margin: 10px 0 0 0;
}
.button-link{
    display: inline-block;
    background: linear-gradient(#FBA24F, #FF1E1E);
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 23.4px;
    font-style: normal;
    border-radius: 100px;
    margin-top: 20px;
    padding: 11px 25px;
    box-shadow: 0 2px 30px 0 #FC8F4980;
}
#hero-img{
    width: 500px;
    height: 567px;
}
#contact-section{   
    margin: 5% 0 0 0;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: auto;
}
#contact-person{
    width: 252px;
    height: 400px;
    margin: 2% 0 0 40%;
}
#contact-text-box{
    width: 450px;
    height: 246px;
}
#contact-title{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
    font-style: normal;
}
#contact-text-descriptions{
    color: #18191F;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-style: normal;
    text-align: left;
}